<!DOCTYPE html>
<html>
<head>
<title>信息管理系统</title>
<script type="text/javascript" src="__PUBLIC__/easyui/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/home.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/home.css">
</head>
<body>

<div id="header">
	<div id="logo">信息管理系统</div>
	
	<div id="user">用户
		<ul>
			<li>退出</li>
		</ul>
	</div>
</div>

<div id="main">
	<p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p>
	<p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p>
	<p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p>
	<p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p>
	<p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p>
	<p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p>
	<p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p><p>hello world</p>
</div>

<div id="footer">
</div>

</body>
</html>