html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* .panel  {
	position: relative;
	top: 50%;
	margin: -100px auto;
} */

#login {
	padding: 10px;
	overflow: hidden;
}

#login p {
	margin: 20px auto auto 20px;
}

#login p label {
	display: inline-block;
	width: 60px;
	text-align: center;
}

.buttons {
	margin: 30px auto;
}

.reset {
	margin-left: 80px;
	width: 50px;
}

.submit {
	margin-left: 20px;
	width: 50px;
}

#register {
	display: none;
	padding: 10px;
	overflow: hidden;
}

#register p {
	margin: 20px auto auto 20px;
}

#register p label {
	display: inline-block;
	width: 60px;
	text-align: center;
}
